# Veritabanı
pyodbc

# API İstemcileri
python-binance
yfinance
investpy

# Web İstekleri
requests

# Veri İşleme
pandas

# Loglama ve Yardımcı Araçlar
python-dateutil==2.8.2
pytz==2024.1

# Yeni eklenen paketler
numpy==1.26.4
python-dotenv
beautifulsoup4==4.12.3
lxml==5.1.0 
