# Veritabanı
pyodbc==4.0.39

# API İstemcileri
python-binance==1.0.19
yfinance==0.2.36
investpy==1.0.8

# Web İstekleri
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0

# Veri İşleme
pandas==2.2.1
numpy==1.26.4

# Loglama ve Yardımcı Araçlar
python-dateutil==2.8.2
pytz==2024.1 